@{
    ViewData["Title"] = "Trang tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Trang tuyển dụng - BV Ung Bướu</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main">
        <div class="left-content">
            <h2>CỔNG THÔNG TIN ỨNG TUYỂN</h2>
            <a asp-controller="UngTuyen" asp-action="Index" class="apply-button">
                <img src="~/images/register_main.png" alt="user icon" />
                ĐĂNG KÝ ỨNG TUYỂN
            </a>
        </div>

        <div class="right-image">
            <img src="~/images/staff_main.png" alt="Hình minh họa nhân viên y tế" />
        </div>
    </div>
</body>
</html>

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}
