@{
    ViewData["Title"] = "Ứng tuyển vị trí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center my-5">
    <h2 class="title-center big-title">@ViewData["Title"]</h2>
    <p class="title-center big-subtitle">Vui lòng chọn loại đơn ứng tuyển</p>

    <div class="button-wrapper mt-4">
        <a asp-controller="UngTuyen" asp-action="VienChuc" class="btn btn-primary btn-lg">
            Ứng tuyển viên chức
        </a>
        <a asp-controller="UngTuyen" asp-action="NguoiLaoDong" class="btn btn-success btn-lg">
            Ứng tuyển người lao động
        </a>
    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="~/css/apply-choice.css" asp-append-version="true" />
}
