@model BVUB_WebTuyenDung.Models.HuongDanDangKy

@{
    ViewData["Title"] = "Xoá Hướng Dẫn Đăng Ký";
}

<h2>@ViewData["Title"]</h2>

<h4>Bạn có chắc chắn muốn xoá mục hướng dẫn này?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-3">Tiêu đề</dt>
    <dd class="col-sm-9">@Model.TieuDe</dd>

    <dt class="col-sm-3">Loại hướng dẫn</dt>
    <dd class="col-sm-9">@Model.LoaiHuongDan</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="HuongDanId" />
    <button type="submit" class="btn btn-danger">Xoá</button>
    <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
</form>
