@model BVUB_WebTuyenDung.Areas.Admin.ViewModels.PositionFormVm
@{
    ViewData["Title"] = "Thêm vị trí";
}
<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Create">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="TenViTri" class="form-label">Tên vị trí</label>
        <input asp-for="TenViTri" class="form-control" placeholder="Nhập tên vị trí" />
        <span asp-validation-for="TenViTri" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ChucDanhId" class="form-label"></label>
        <select asp-for="ChucDanhId" asp-items="Model.AllChucDanhs" class="form-select">
            <option value="">-- chọn chức danh --</option>
        </select>
        <span asp-validation-for="ChucDanhId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Trạng thái</label>
        <select asp-for="TamNgung" class="form-select">
            <option value="0">Sử dụng</option>
            <option value="1">Tạm ngưng</option>
        </select>
    </div>

    <button class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-link">Hủy</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
